<h1><%= @requests %></h1>
<h1><%#= current_user.username %>a</h1>

<h1>Post Index</h1>

<div class="row">
  <% @posts.each_slice(3) do |posts_chunk| %>
    <% posts_chunk.each do |post| %>
      <div class="col-md-4 mb-4">
        <div class="card" style="width:15rem;">
          <img class="card-img-top" src="../image/100x60.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle text-muted">Subtitle</h6>
            <p class="card-text">A card is a flexible and extensible content container. It includes ...</p>
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
    <div class="col-md-4 mb-4">
    <div class="card" style="width:15rem;">
      <img class="card-img-top" src="../image/100x60.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle text-muted">Subtitle</h6>
        <p class="card-text">A card is a flexible and extensible content container. It includes ...</p>
        <a href="#" class="card-link">Card link</a>
      </div>
    </div>
  </div>
</div>

